{% extends 'layouts.html' %}
{% load static %}
{% block title %}
About Us
{% endblock %}

{% block content %}

    <!-- fixed-column-image -->
    <div class="fixed-column-image-wrap">
        <div class="fixed-column-image fs-wrapper">
            <div class="bg hor_scroll"  data-bg="{% static 'images/journey.jpeg'%}"></div>
            <div class="overlay"></div>
            <div class="overlay-dec"></div>
        </div>
        <footer class="column-footer">
            <div class="column-footer_arrow-dec_wrap color-bg">
                <div class="arrow_dec_wrap">
                    <div class="arrow_dec"></div>
                </div>
            </div>
            <div class="column-footer_head">Scroll  Down</div>
            <div class="column-footer_content fl-wrap">
                <div class="column-footer_title"><span>Our  Story</span></div>
            </div>
            <div class="dir-arrow"></div>
        </footer>
        <div class="fci_progress-bar-wrap dark-bg">
            <div class="ver_progress-bar_wrap">
                <div class="ver_progress-bar color-bg"></div>
            </div>
            <div class="pbw_animicon">
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div class="hero-arrows_dec"></div>
    </div>
    <!-- fixed-column-image end -->
    <!-- scroll-nav-container -->
    <div class="scroll-nav-container">
        <div class="page-scroll-nav">
            <div class="scroll-down-container">
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
            </div>
            <div class="hidden_wrap_btn"><span></span></div>
            <nav class="scroll-init page-scroll-nav_wrap">
                <ul>
                    <li><a class="scroll-link fbgs act-sec" href="#sec1"  data-bgtext="BSL Mission"  data-bgnum="01"><span>BSL Mission</span></a></li>
                    <li><a class="scroll-link fbgs" href="#sec2"  data-bgtext="Journey"  data-bgnum="02"><span>Journey</span></a></li>
                    <li><a class="scroll-link fbgs" href="#sec3"  data-bgtext="Testimonials"  data-bgnum="03"><span>Testimonials</span></a></li>

                </ul>
            </nav>
            <div class="section-counter color-bg">
                <div class="section-counter_cuurent"><span>01</span></div>
                <div class="section-counter_total"></div>
            </div>
        </div>
    </div>
    <!-- scroll-nav-container end -->
    <!-- column-wrap -->
    <div class="column-wrap hcw_sin">
        <div class="content fl-wrap full-height">
            <!-- section -->
            <section id="sec1" class="scroll_sec top top-mobile">
                <div class="container">
                    <div class="section-title">
                        <h2>BSL Mission</h2>
                        <p>BSL- Brands and Sourcing Leaders Association, is a non-profit organization that represents Sourcing Leaders from the Domestic and Exports. We as a body have a comprehensive vision to bridge the gap between government policies and the apparel industry by guiding the policy makers about the advanced needs of the industry.

                            <br> The association is formed to accelerate the growth of the Apparel Industry in the Country, and make the whole world wear “Make in India”.</p>
                    </div>
                    <div class="about_row">
                        <div class="block_text">
                            <h2>पंच पहल / PANCH PAHL</h2>
                            <b><p>MMF 10X (MAN MADE FIBRES & TECHNICAL TEXTILES)</p>
                            <p>REALIZING A TRILLION $ GOAL (COST ENGINEERING, CAPACITY BUILDING & SMART FACTORIES)</p>
                            <p>A PARADIGM SHIFT IN DIGITALIZATION & AUTOMATION</p>
                            <p>GOOD EARTH (SUSTAINABILITY, TRACEABILITY & ESG GOAL)</p>
                            <p>IMPORT SUBSTITUTION & UPSCALING (YARN, FIBRE, FABRICS, TRIMS & ACCESSORIES)</p></b>
                            <a href="portfolio.html" class="btn   fl-btn color-bg"><span>Our portfolio</span></a>							
                        </div>
                        <div class="block_img">
                            <img src="{% static 'images/header3.jpeg'%} " class="respimg" alt="">
                            <!-- <div class="about-img-hotifer dark-bg">
                                <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                                <h4>Mark Antony</h4>
                                <h5>Cyberbook CEO</h5>
                            </div> -->
                        </div>
                    </div>
                    <div class="ticker-wrap fl-wrap">
                        <div class="content-marquee-outer">
                            <div class="content-marquee-inner">
                                <div class="ticker" data-text="Brands and Sourcing Leaders Association">Brands and Sourcing Leaders Association</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-number"> <span>0</span>1. </div>
                <div class="sec-dec" style="left: -270px; bottom: -5%"></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            <!-- section end -->
          
            
            
            													
            <!--section  -->	
            <section id="sec2" class="dec_sec">
                <div class="container">
                    <div class="text-row">
                        <div class="text-column">
                            <div class="text-column_title">
                                <h4>Journey Till Now</h4>
                                <h2>Brands and Sourcing Leaders Association</h2>
                                <img style="width:100%" src="{% static 'images/journey.jpeg'%}" alt="">
                            </div>
                        </div>
                        <div class="text-column">
                            <p>BSL represents over USD 30 Billion of Domestic and International Buying of Textiles & Apparel. BSL is the only association that brings together international & Domestic brand Leaders.</p>
                            <p>Our members include Brands and Sourcing Leaders representing 250+Brands and Sourcing Houses like Marks & Spencer, ZARA, H&M, Aditya Birla, Arvind fashion, Triburg, Newtimes, PDS Group, Spykar, Nike, Adidas, French Connection UK, Li&fung, Next, Bestsellers, Myntra, GAP, Macy’s, Target, Jockey, Landmark, Nykaa, to name a few.</p>
                            <p>We have successfully conducted many conferences in Delhi and Bangalore. Glocal Textile Summit held in Delhi on 16th September 2022, had a large Industry leaders’ presence & representation from delegates from the Ministry of Textiles making it a successful and effective event.</p>
                            <p>BSL has also opened International chapters globally - USA(East coast), USA(West coast), Japan, UK, UAE, France, more are under process.</p>
                        </div>
                    </div>
                    
                    <!--order-wrap-->		
                    <div class="order-wrap   dark-bg">
                        <h4>Why would someone want to be a member ?</h4>
                        <a href="#" class="btn color-bg"><span>Member</span></a>
                    </div>
                    <!-- order-wrap end -->											
                </div>
                <div class="dec_cirlce" style="left: -120px; bottom: -120px"><span></span></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            <!--section end-->							
            
            <!-- section end-->	
            <!-- section  -->
            <section class="no_bottom_padding scroll_sec" id="sec3">
                <div class="container">
                    <div class="section-title">
                        <h2>TESTIMONIALS - INDUSTRY LEADERS</h2>

                    </div>
                </div>
                <div class="testimonilas-carousel_wrap fl-wrap">
                    <div class="testimonilas-carousel fl-wrap">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <!--testi-item-->
                                <div class="swiper-slide">
                                    <div class="testi-item fl-wrap">
                                        <span class="testi-number color-bg">.01</span>
                                        <div class="testimonilas-text   fl-wrap">
                                            <p>"It was insightful and thought provoking for all people involved in the apparel sector. Would recommend
                                                people involved in buying, sourcing and trim manufacturers to join this group and attend the future events
                                                to contribute your views in developing the sector and contributing towards the growth of the Indian Apparel
                                                Industry"</p>
                                        </div>
                                        <div class="testi-footer fl-wrap">
                                            <!-- <div class="testi-avatar"><img src="{% static 'images/avatar/1.jpg'%} " alt=""></div> -->
                                            <h3>Sapna Adavi</h3>
                                            <a href="#" class="testi-link" target="_blank">Sourcing – Bengaluru</a>
                                        </div>
                                    </div>
                                </div>
                                <!--testi-item end-->
                                <!--testi-item-->
                                <div class="swiper-slide">
                                    <div class="testi-item fl-wrap">
                                        <span class="testi-number color-bg">.02</span>
                                        <div class="testimonilas-text   fl-wrap">
                                            <p>"The event was amazing and went very smoothly. Overall, good knowledge sessions.
                                                # Digitalization, # Sustainability, # Make in India, everyone involved from sourcing fraternity is building
                                                up the thrust to accelerate Indian exports. Congratulations to all involved for such a successful work that
                                                BSL is doing."</p>
                                        </div>
                                        <div class="testi-footer fl-wrap">
                                            <h3>Neetu Jotwani</h3>
                                            <a href="#" class="testi-link" target="_blank">Sr. Vice President</a>
                                        </div>
                                    </div>
                                </div>
                                <!--testi-item end-->
                                													
                                <!--testi-item-->
                                <div class="swiper-slide">
                                    <div class="testi-item fl-wrap">
                                        <span class="testi-number color-bg">.03</span>
                                        <div class="testimonilas-text   fl-wrap">
                                            <p>"How uplifting and thoughtful of BSL team on this dynamism approach with great integrity and faith. The
                                                issues that were overlooked and forgotten about have been taken up by you all with pronounced
                                                resourcefulness. We need more people like you up in the Indian subcontinent. Thank you for your
                                                wonderful event."</p>
                                        </div>
                                        <div class="testi-footer fl-wrap">
                                            <h3>Sanjay Vakharia</h3>
                                            <a href="#" class="testi-link" target="_blank">CEO SPYKAR</a>
                                        </div>
                                    </div>
                                </div>
                                <!--testi-item end-->													
                            </div>
                        </div>
                    </div>
                    <div class="tc-button tc-button-next"><i class="fal fa-angle-right"></i></div>
                    <div class="tc-button tc-button-prev"><i class="fal fa-angle-left"></i></div>
                    <div class="tc-pagination"></div>
                </div>
                <!-- clients-carousel-wrap-->
                
                <!-- clients-carousel-wrap end-->
                <div class="sec-lines"></div>
                <div class="section-number"> <span>0</span>6. </div>
            </section>
            <!-- section end-->									
        </div>
    </div>
    <!-- column-contaent end -->
    {% endblock %}