{% extends 'layouts.html' %}
{% load static %}
{% block title %}
49th India International Knit Fair
{% endblock %}

{% block content %}

    <!-- fixed-column-image -->
    <div class="fixed-column-image-wrap">
        <div class="fixed-column-image fs-wrapper">
            <div class="bg hor_scroll"  data-bg="{% static 'images/journey.jpeg'%}"></div>
            <div class="overlay"></div>
            <div class="overlay-dec"></div>
        </div>
        <footer class="column-footer">
            <div class="column-footer_arrow-dec_wrap color-bg">
                <div class="arrow_dec_wrap">
                    <div class="arrow_dec"></div>
                </div>
            </div>
            <div class="column-footer_head">Scroll  Down</div>
            <div class="column-footer_content fl-wrap">
                <div class="column-footer_title"><span>Knit fair</span></div>
            </div>
            <div class="dir-arrow"></div>
        </footer>
        <div class="fci_progress-bar-wrap dark-bg">
            <div class="ver_progress-bar_wrap">
                <div class="ver_progress-bar color-bg"></div>
            </div>
            <div class="pbw_animicon">
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div class="hero-arrows_dec"></div>
    </div>
    <!-- fixed-column-image end -->
    <!-- scroll-nav-container -->
    <div class="scroll-nav-container">
        <div class="page-scroll-nav">
            <div class="scroll-down-container">
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
            </div>
            <div class="hidden_wrap_btn"><span></span></div>
            <nav class="scroll-init page-scroll-nav_wrap">
                <ul>
                    <li><a class="scroll-link fbgs act-sec" href="#sec1"  data-bgtext="BSL Mission"  data-bgnum="01"><span>49th India International Knit Fair</span></a></li>
                    

                </ul>
            </nav>
            <div class="section-counter color-bg">
                <div class="section-counter_cuurent"><span>01</span></div>
                <div class="section-counter_total"></div>
            </div>
        </div>
    </div>
    <!-- scroll-nav-container end -->
    <!-- column-wrap -->
    <div class="column-wrap hcw_sin">
        <div class="content fl-wrap full-height">
            <!-- section -->
            <section id="sec1" class="scroll_sec top top-mobile">
                <div class="container">
                    <div class="section-title">
                        <h2>49TH INDIA INTERNATIONAL KNIT FAIR</h2>
                        <h2>22nd-224th MARCH`2023 - TIRUPPUR - INDIA</h2>
                        <p >BSL- Brands and Sourcing Leaders Association, is a non-profit organization that represents Sourcing Leaders from the Domestic and Exports.</p>
                    </div>
                    <div class="about_row">
                        <div class="block_text">
                            <h2>The Grand Opening</h2>
                            <b><p>Ribbon-cutting ceremony and the Lamp Lighting at the magnificent event - India International Knit Fair - Tirupur.</p>
                            <p>Padmashri Dr. A. Sakthivel President of the Federation of Indian Export Organizations (FIEO) and the Chairman of the Apparel, Made-Ups & Home Furnishing Sector Skill Council (AMHSSC)</p>
                            <p>Mr. Swaminathan Ramachandran - (CSCO - Aditya Birla Fashion & Retail Ltd.) and the BSL Chairman</p>
                            <p>Ms. Rohini Suri - Global Sourcing Apparel (Farm to Fashion)</p>
                            <p>Mr. Elango Viswanathan - CEO - (SNQS Internationals) and Vice President (BSL South)</p>
                            <p>Mr. Sanjay Shukla - Group Leader (Triburg) & BSL Board Member</p>
                            <p>Mr. K M Subramanian - President TEA (Tirupur Exporters Association)</p>
                            <p>The Dignitaries marked the opening of IIKF fair and made close interaction with the exhibitors</p>
                            <p>The Exhibitors Hub had put on display extensive range of new developments, in different activewear and Knit categories. Exhibitors also managed to showcase their digital presence at the fair. 
                                The attendee at large encouraged the exhibitors for providing detailed analytics with their successful SUSTAINABILITY chapters</p></b>
                            <!-- <a href="portfolio.html" class="btn   fl-btn color-bg"><span>Our portfolio</span></a>							 -->
                        </div>
                        <div class="block_img">
                            <img src="{% static 'images/knit5.jpeg'%}" class="respimg" alt=""><br>
                            <img style="width:100%; padding-top:2%;" src="{% static 'images/knit6.jpeg'%}" alt="">
                            <!-- <div class="about-img-hotifer dark-bg">
                                <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                                <h4>Mark Antony</h4>
                                <h5>Cyberbook CEO</h5>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="ticker-wrap fl-wrap">
                        <div class="content-marquee-outer">
                            <div class="content-marquee-inner">
                                <div class="ticker" data-text="Brands and Sourcing Leaders Association">Brands and Sourcing Leaders Association</div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="section-number"> <span>0</span>1. </div>
                <div class="sec-dec" style="left: -270px; bottom: -5%"></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            <!-- section end -->
          
            
            
            													
            <!--section  -->	
            <section id="sec2" class="dec_sec">
                <div class="container">
                    <div class="text-row">
                        <div class="text-column">
                            <div class="text-column_title">
                                
                                <h2></h2>
                                <img style="width:100%" src="{% static 'images/knit1.jpeg'%}" alt="">
                            </div>
                        </div>
                        <div class="text-column">
                            <p><b>Ms. Kiruba Devi - HOS -Zivame (BSL President-South) &
                                Mr. Raman Dutta - MD -Alliders (BSL General Secretary) introduced to the audience the genesis of BSL at the 49th IIKF.</b></p>
                            <p>They well presented to audience the BSL “PANCH-PAHAL” - Import Substitution-Export Promotion, Realizing a trillion $ goal and the rapid extension of digitalization, automation efficiency , MMF & Sustainability initiatives which in collaboration across all the regions can make a significant difference to the Indian Textiles & Apparel in the Glocal Bazaar.
                            </p>
                            <p>BSL supports the community who are making everyday change with their enterprising impressions.</p>
                        </div>
                    </div>
                    
                   										
                </div>
                <div class="dec_cirlce" style="left: -120px; bottom: -120px"><span></span></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            <!--section end-->		
            
            
            <section style="padding:0 0 60px 0" id="sec1" class="scroll_sec">
                <div class="container">
                    
                    <div class="about_row">
                        <div class="block_text">
                            <!-- <h2>The Grand Opening</h2> -->
                            <b><p style="color:#000"><b>Dr. A Sakthivel was felicitated by Mr. Sanjay Shukla (BSL Board Member) & Mr. Raman Dutta (BSL General secretary)</b></p>
                            <p>Dr. A Sakthivel has exceptional & exemplar leadership skills, he is a true visionary, and is self-motivated and creative in his thinking. He  has been a constant supporter to BSL initiatives - PANCH PAHL.</p>
                            <p>His tenacity and commitment to the many visionary projects and initiatives, as well as his significant contributions to the development of commerce, industry, and society, are all highly laudable.</p></b>

                        </div>
                        <div class="block_img">
                            <img src="{% static 'images/knit3.jpeg'%}" class="respimg" alt=""><br>
                            <!-- <div class="about-img-hotifer dark-bg">
                                <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                                <h4>Mark Antony</h4>
                                <h5>Cyberbook CEO</h5>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="ticker-wrap fl-wrap">
                        <div class="content-marquee-outer">
                            <div class="content-marquee-inner">
                                <div class="ticker" data-text="Brands and Sourcing Leaders Association">Brands and Sourcing Leaders Association</div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="section-number"> <span>0</span>1. </div>
                <div class="sec-dec" style="left: -270px; bottom: -5%"></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            <!-- section end -->
          
            
            
            													
            <!--section  -->	
            <section id="sec2" class="dec_sec">
                <div class="container">
                    <div class="text-row">
                        <div class="text-column">
                            <div class="text-column_title">
                                
                                <h2></h2>
                                <img style="width:100%" src="{% static 'images/knit4.jpeg'%}" alt="">
                            </div>
                        </div>
                        <div class="text-column">
                            <p><b>Padmashri Dr. A Sakthivel and the core members of IKF Bonored BSL team for gracing the IIKF event with their presence.</b></p>
                            
                        </div>
                    </div>
                    
                   										
                </div>
                <div class="dec_cirlce" style="left: -120px; bottom: -120px"><span></span></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
	
            
            
            <section style="padding:0 0 60px 0" id="sec1" class="scroll_sec">
                <div class="container">
                    
                    <div class="about_row">
                        <div class="block_text">
                            <h2>BSL is aggressively promoting MMF Textiles in Tirupur</h2>
                            <b><p style="color:#000"><b>The MMF garment industry in India is poised for fast growth as the government has agreed to promote the sector, according to Padmashri Dr. A Sakthivel, who spoke at the IKF Press Meet's opening. </b></p>
                            <p>The government has announced a Production Linked Incentive (PLI) scheme for the MMF segment and the establishment of seven mega textile parks in the nation. These actions will boost India's MMF garment exports and manufacture.</p>
                            <p>"MMF has a $200 billion global potential. Sanjay Shukla from Triburg and active Board Member of BSL stated, "We can target 10% of the $200 billion if we work together as a nation to build a supply chain that begins with design, product development, fabric development, and of course, garmenting.</p></b>

                        </div>
                        <div class="block_img">
                            <img src="{% static 'images/knit7.jpeg'%}" class="respimg" alt=""><br>
                            <img style="width:100%;padding-top:2%;" src="{% static 'images/knit8.jpeg'%}" alt="">
                            <!-- <div class="about-img-hotifer dark-bg">
                                <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                                <h4>Mark Antony</h4>
                                <h5>Cyberbook CEO</h5>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="ticker-wrap fl-wrap">
                        <div class="content-marquee-outer">
                            <div class="content-marquee-inner">
                                <div class="ticker" data-text="Brands and Sourcing Leaders Association">Brands and Sourcing Leaders Association</div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="section-number"> <span>0</span>1. </div>
                <div class="sec-dec" style="left: -270px; bottom: -5%"></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            
            
            								
        </div>
    </div>
    <!-- column-contaent end -->
    {% endblock %}