{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Glocal Manoeuvre Series - Powerplay 1
{% endblock %}

{% block content %}

    <!-- fixed-column-image -->
    <div class="fixed-column-image-wrap">
        <div class="fixed-column-image fs-wrapper">
            <div class="bg hor_scroll"  data-bg="{% static 'images/journey.jpeg'%}"></div>
            <div class="overlay"></div>
            <div class="overlay-dec"></div>
        </div>
        <footer class="column-footer">
            <div class="column-footer_arrow-dec_wrap color-bg">
                <div class="arrow_dec_wrap">
                    <div class="arrow_dec"></div>
                </div>
            </div>
            <div class="column-footer_head">Scroll  Down</div>
            <div class="column-footer_content fl-wrap">
                <div class="column-footer_title"><span>Glocal Manoeuvre Series</span></div>
            </div>
            <div class="dir-arrow"></div>
        </footer>
        <div class="fci_progress-bar-wrap dark-bg">
            <div class="ver_progress-bar_wrap">
                <div class="ver_progress-bar color-bg"></div>
            </div>
            <div class="pbw_animicon">
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div class="hero-arrows_dec"></div>
    </div>
    <!-- fixed-column-image end -->
    <!-- scroll-nav-container -->
    <div class="scroll-nav-container">
        <div class="page-scroll-nav">
            <div class="scroll-down-container">
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
            </div>
            <div class="hidden_wrap_btn"><span></span></div>
            <nav class="scroll-init page-scroll-nav_wrap">
                <ul>
                    <li><a class="scroll-link fbgs act-sec" href="#sec1"  data-bgtext="BSL Mission"  data-bgnum="01"><span>Glocal Manoeuvre Series - Powerplay 1</span></a></li>
                    

                </ul>
            </nav>
            <div class="section-counter color-bg">
                <div class="section-counter_cuurent"><span>01</span></div>
                <div class="section-counter_total"></div>
            </div>
        </div>
    </div>
    <!-- scroll-nav-container end -->
    <!-- column-wrap -->
    <div class="column-wrap hcw_sin">
        <div class="content fl-wrap full-height">
            <!-- section -->
            <section id="sec1" class="scroll_sec top top-mobile">
                <div class="container">
                    <div class="section-title">
                        <h2>GLOCAL MANOEUVRE SERIES - POWERPLAY 1</h2>
                        <h2>17th-18th DECEMBER`2022</h2>
                        <h2>STELLAR RESORTS - NH-8, RAJOKRI - NEW DELHI</h2>
                        <p >BSL- Brands and Sourcing Leaders Association, is a non-profit organization that represents Sourcing Leaders from the Domestic and Exports.</p>
                    </div>
                    <div class="about_row">
                        
                    </div>
                    <!-- <div class="ticker-wrap fl-wrap">
                        <div class="content-marquee-outer">
                            <div class="content-marquee-inner">
                                <div class="ticker" data-text="Brands and Sourcing Leaders Association">Brands and Sourcing Leaders Association</div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="section-number"> <span>0</span>1. </div>
                <div class="sec-dec" style="left: -270px; bottom: -5%"></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            <!-- section end -->
            <section  class="no-bottom-padding dark-bg scroll_sec" id="sec2">
                <div class="section-number"> <span>0</span>2. </div>
                <div class="container">
                    <div class="section-title">
                        <h2>PROFICIENT SPEAKERS AT THE CONVENTION</h2>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.  </p> -->
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="half-carousel-wrap">
                    <div class="half-carousel-conatiner fl-wrap">
                        <div class="half-carousel fl-wrap full-height">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <!--half-carousel-item   -->
                                    <div class="swiper-slide">
                                        <div class="half-carousel-item fl-wrap">
                                            <div class="bg-wrap bg-parallax-wrap-gradien">
                                                <div class="overlay"></div>
                                                <img style="width:100%; " id="myImg" src="{% static 'images/p1.jpeg'%}" alt="">
                                                <!-- <div class="bg" data-bg="https://media.licdn.com/dms/image/C4D22AQFxGBLXRWZXPQ/feedshare-shrink_1280/0/1673340411170?e=1684368000&v=beta&t=wCjp7YIWLG9beDCtkoBW8N_IX9wAVgxyQcQwy4Z4cUI" data-swiper-parallax="10%"></div> -->
                                            </div>
                                            <!-- <div class="grid-det_category"><a href="#">Ui/Ux</a> <a href="#">Barnding</a></div> -->
                                            <span class="testi-number color-bg">.01</span>	
                                            <!-- <div class="half-carousel-content">
                                                <h3><a href="portfolio-single.html">Fitness Studio Website</a></h3>
                                                <p>Constant care and attention to the patients makes good record</p>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!--half-carousel-item end -->
                                    <!--half-carousel-item   -->
                                    <div class="swiper-slide">
                                        <div class="half-carousel-item fl-wrap">
                                            <div class="bg-wrap bg-parallax-wrap-gradien">
                                                <div class="overlay"></div>
                                                <img style="width:100%; " id="myImg" src="{% static 'images/p2.jpeg'%}" alt="">
                                                <!-- <div class="bg" data-bg="https://media.licdn.com/dms/image/C4D22AQGK8Q9DTYbC7Q/feedshare-shrink_1280/0/1673340411022?e=1684368000&v=beta&t=Z0bZrGq3dtk_FbPqLKpFlN7L-h43S57GeDCZqzCF7jA" data-swiper-parallax="10%"></div> -->
                                            </div>
                                            <!-- <div class="grid-det_category"><a href="#">Branding</a> <a href="#">Webdesign</a></div> -->
                                            <span class="testi-number color-bg">.02</span>	
                                            <!-- <div class="half-carousel-content">
                                                <h3><a href="portfolio-single.html">Project Endoran</a></h3>
                                                <p>Constant care and attention to the patients makes good record</p>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!--half-carousel-item end -->
                                    <!--half-carousel-item   -->
                                    <div class="swiper-slide">
                                        <div class="half-carousel-item fl-wrap">
                                            <div class="bg-wrap bg-parallax-wrap-gradien">
                                                <div class="overlay"></div>
                                                <img style="width:100%; " id="myImg" src="{% static 'images/p3.jpeg'%}" alt="">

                                                <!-- <div class="bg" data-bg="https://media.licdn.com/dms/image/C4D22AQFd_ejEl1RFqw/feedshare-shrink_1280/0/1673340410862?e=1684368000&v=beta&t=1n9QNF07V04thQnVZXcAoSP2xjLtGA4xJGxq2k3OunM" data-swiper-parallax="10%"></div> -->
                                            </div>
                                            <!-- <div class="grid-det_category"><a href="#">Photography</a> <a href="#">Branding</a></div> -->
                                            <span class="testi-number color-bg">.03</span>	
                                            <!-- <div class="half-carousel-content">
                                                <h3><a href="portfolio-single.html">Trinity Motobike Company</a></h3>
                                                <p>Constant care and attention to the patients makes good record</p>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!--half-carousel-item end -->
                                    <!--half-carousel-item   -->
                                    <div class="swiper-slide">
                                        <div class="half-carousel-item fl-wrap">
                                            <div class="bg-wrap bg-parallax-wrap-gradien">
                                                <div class="overlay"></div>
                                                <img style="width:100%; " id="myImg" src="{% static 'images/p4.jpeg'%}" alt="">

                                                <!-- <div class="bg" data-bg="https://media.licdn.com/dms/image/C4D22AQEeo1KdnkP0Mg/feedshare-shrink_1280/0/1673340411761?e=1684368000&v=beta&t=hs2Je7pe2BTnMDq32rh2TcbWkGYKUSWJgBjs7p6akgs" data-swiper-parallax="10%"></div> -->
                                            </div>
                                            <!-- <div class="grid-det_category"><a href="#">Webdesign</a> <a href="#">Ecommerce</a></div> -->
                                            <span class="testi-number color-bg">.04</span>	
                                            <!-- <div class="half-carousel-content">
                                                <h3><a href="portfolio-single.html">Coffeshop Website</a></h3>
                                                <p>Constant care and attention to the patients makes good record</p>
                                            </div> -->
                                        </div>
                                    </div>
                                    <!--half-carousel-item end -->
                                    <div class="swiper-slide">
                                        <div class="half-carousel-item fl-wrap">
                                            <div class="bg-wrap bg-parallax-wrap-gradien">
                                                <div class="overlay"></div>
                                                <img style="width:100%; " id="myImg" src="{% static 'images/p5.jpeg'%}" alt="">
                                                <!-- <div class="bg" data-bg="https://media.licdn.com/dms/image/C4D22AQG6XKsiNVQ0PA/feedshare-shrink_1280/0/1673340411338?e=1684368000&v=beta&t=C7MRt3hFsaDE2itNJEu32RcPpCHNzZ9ktxkYy653ZoQ" data-swiper-parallax="10%"></div> -->
                                            </div>
                                            <!-- <div class="grid-det_category"><a href="#">Webdesign</a> <a href="#">Ecommerce</a></div> -->
                                            <span class="testi-number color-bg">.05</span>	
                                            <!-- <div class="half-carousel-content">
                                                <h3><a href="portfolio-single.html">Coffeshop Website</a></h3>
                                                <p>Constant care and attention to the patients makes good record</p>
                                            </div> -->
                                        </div>
                                    </div>
                                        <!--half-carousel-item   -->
                                        <div class="swiper-slide">
                                            <div class="half-carousel-item fl-wrap">
                                                <div class="bg-wrap bg-parallax-wrap-gradien">
                                                    <div class="overlay"></div>
                                                    <img style="width:100%; " id="myImg" src="{% static 'images/p6.jpeg'%}" alt="">

                                                    <!-- <div class="bg" data-bg="https://media.licdn.com/dms/image/C4D22AQHvxVr38qbcZA/feedshare-shrink_1280/0/1673340411455?e=1684368000&v=beta&t=WsvySYY2dpIqrEbojYdsMBW7K_TQPlvgNaCDP-O52Fs" data-swiper-parallax="10%"></div> -->
                                                </div>
                                                <!-- <div class="grid-det_category"><a href="#">Ui/Ux</a> <a href="#">Barnding</a></div> -->
                                                <span class="testi-number color-bg">.06</span>	
                                                <!-- <div class="half-carousel-content">
                                                    <h3><a href="portfolio-single.html">Fitness Studio Website</a></h3>
                                                    <p>Constant care and attention to the patients makes good record</p>
                                                </div> -->
                                            </div>
                                        </div>
                                        <!--half-carousel-item end -->
                                        <!--half-carousel-item   -->
                                        <div class="swiper-slide">
                                            <div class="half-carousel-item fl-wrap">
                                                <div class="bg-wrap bg-parallax-wrap-gradien">
                                                    <div class="overlay"></div>
                                                    <img style="width:100%; " id="myImg" src="{% static 'images/p7.jpeg'%}" alt="">

                                                    <!-- <div class="bg" data-bg="https://media.licdn.com/dms/image/C4D22AQFRKGUVtE56yA/feedshare-shrink_1280/0/1673340412189?e=1684368000&v=beta&t=Cd4CFQHHA5lijLTdTN60tozDTyXM_QrWH90myLkWaWQ" data-swiper-parallax="10%"></div> -->
                                                </div>
                                                <!-- <div class="grid-det_category"><a href="#">Branding</a> <a href="#">Webdesign</a></div> -->
                                                <span class="testi-number color-bg">.07</span>	
                                                <!-- <div class="half-carousel-content">
                                                    <h3><a href="portfolio-single.html">Project Endoran</a></h3>
                                                    <p>Constant care and attention to the patients makes good record</p>
                                                </div> -->
                                            </div>
                                        </div>
                                        <!--half-carousel-item end -->
                                        <!--half-carousel-item   -->
                                        <div class="swiper-slide">
                                            <div class="half-carousel-item fl-wrap">
                                                <div class="bg-wrap bg-parallax-wrap-gradien">
                                                    <div class="overlay"></div>
                                                    <img style="width:100%; " id="myImg" src="{% static 'images/p8.jpeg'%}" alt="">

                                                    <!-- <div class="bg" data-bg="https://media.licdn.com/dms/image/C4D22AQES28lgdcZsbw/feedshare-shrink_1280/0/1673340411928?e=1684368000&v=beta&t=5RTEDAaA5gf3hexu06p2PeEodN9KiwgvaAZE6lO70uQ" data-swiper-parallax="10%"></div> -->
                                                </div>
                                                <!-- <div class="grid-det_category"><a href="#">Photography</a> <a href="#">Branding</a></div> -->
                                                <span class="testi-number color-bg">.08</span>	
                                                <!-- <div class="half-carousel-content">
                                                    <h3><a href="portfolio-single.html">Trinity Motobike Company</a></h3>
                                                    <p>Constant care and attention to the patients makes good record</p>
                                                </div> -->
                                            </div>
                                        </div>
                                        <!--half-carousel-item end -->
                                        <!--half-carousel-item   -->
                                        <div class="swiper-slide">
                                            <div class="half-carousel-item fl-wrap">
                                                <div class="bg-wrap bg-parallax-wrap-gradien">
                                                    <div class="overlay"></div>
                                                    <img style="width:100%; " id="myImg" src="{% static 'images/p9.jpeg'%}" alt="">

                                                    <!-- <div class="bg" data-bg="https://media.licdn.com/dms/image/C4D22AQEMfizOrt60cw/feedshare-shrink_1280/0/1673340410712?e=1684368000&v=beta&t=t_BqKIwjQTam2uTXxah-HURr7LaqMKRkxrJ707fh_Hw" data-swiper-parallax="10%"></div> -->
                                                </div>
                                                <!-- <div class="grid-det_category"><a href="#">Webdesign</a> <a href="#">Ecommerce</a></div> -->
                                                <span class="testi-number color-bg">.09</span>	
                                                <!-- <div class="half-carousel-content">
                                                    <h3><a href="portfolio-single.html">Coffeshop Website</a></h3>
                                                    <p>Constant care and attention to the patients makes good record</p>
                                                </div> -->
                                            </div>
                                        </div>
                                        
                                </div>
                            </div>
                        </div>
                        <div class="half-carousel_controls fl-wrap">
                            <div class="hcw_btn_wrap">
                                <div class="hcw_btn hcw-cont-prev"><i class="fal fa-angle-left"></i></div>
                                <div class="hcw_btn hcw-cont-next"><i class="fal fa-angle-right"></i></div>
                            </div>
                            <div class="cen-slider-pagination_wrap">
                                <div class="cen-slider-pagination"></div>
                            </div>
                            <!-- <a href="portfolio.html" class="fpc_btn"><span>View All Projects</span> <i class="fal fa-angle-right"></i></a> -->
                        </div>
                    </div>
                </div>
            </section>
          
            
            
            													
            <!--section  -->	
            <section id="sec2" class="dec_sec">
                <div class="container">
                    <div class="text-row">
                        <div class="text-column">
                            <div class="text-column_title">
                                
                                <h2></h2>
                                <img style="width:100%" src="{% static 'images/p10.jpeg'%}" alt="">
                            </div>
                        </div>
                        <div class="text-column">
                            <p><b>B2B MARKETPLACESARE RAPIDLY EMERGING</b></p>
                            <p>BSL promosing a change in the procurement environment. 
                                This growth is making room for new competitors who want to overhaul supply chains.
                            </p>
                        </div>
                    </div>
                    
                   										
                </div>
                <div class="dec_cirlce" style="left: -120px; bottom: -120px"><span></span></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            <!--section end-->		
            
            
            <section style="padding:0 0 60px 0" id="sec1" class="scroll_sec">
                <div class="container">
                    
                    <div class="about_row">
                        <div class="block_text">
                            <h2>Chief Guest Smt. Rachna Shah, IAS Textile Secretary, Ministry of Textiles, Government of India was felicitated by Padma Shri Dr. A. Sakthivel.
                            </h2>
                            <b><p>Brands and Sourcing Leaders Association (BSL) organized a grand event – Glocal Textile Convention to further the cause of founding principle “PANCH PAHAL”, at Stellar Resorts Rajokri-New Delhi. </p>
                            <p>The event was well supported by the esteemed Yarns, Fabrics and Accessories community,

                                Smt. Rachna Shah shared her valuable experience and discussed huge opportunities for the Indian apparel Industry. She emphasized towards realizing the progressive trillion $ goal. The Indian textile industry excels at every stage of the value chain, from garments to home furnishings. She accentuated that construction of massive textile parks would be the best course of action in tandem with capacity building, cost engineering and adding smart factories.</p>
                            <p>An exhibition and conference were held during the event, giving attendees the chance to network, talk about, and present their platforms to the clothing and textile value chain showcasing latest trends and share in-depth expertise about their specialized disciplines.
                            </p>
                        <p>The two-day event included the emphasis on sessions that highlighted the core areas -import substitution, export promotion, MMF + Technical textiles, cutting-edge technology, automation, digitalization and eco-friendly textiles, sustainability.  The attendee at large had fashion buyers, apparel exporters, sourcing heads, and top industry leaders.</p>
                    <p>The community of Yarns, Fabrics and Accessories were conferred with recognition awards.

                        A vote of thanks and appreciation from the entire garment fraternity to the dignitaries marked the conclusion of the convocation.</p></b>

                        </div>
                        <div class="block_img">
                            <img src="{% static 'images/p11.jpeg'%}" class="respimg" alt=""><br>
                            <img style="width:100%; padding-top:2%" src="{% static 'images/p12.jpeg'%}" alt=""><br>
                            <img style="width:100%; padding-top:2%" src="{% static 'images/p13.jpeg'%}" alt="">
                            <!-- <div class="about-img-hotifer dark-bg">
                                <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                                <h4>Mark Antony</h4>
                                <h5>Cyberbook CEO</h5>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="ticker-wrap fl-wrap">
                        <div class="content-marquee-outer">
                            <div class="content-marquee-inner">
                                <div class="ticker" data-text="Brands and Sourcing Leaders Association">Brands and Sourcing Leaders Association</div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="section-number"> <span>0</span>1. </div>
                <div class="sec-dec" style="left: -270px; bottom: -5%"></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            <!-- section end -->
          
            
            
            													
            <!--section  -->	
            <section id="sec2" class="dec_sec">
                <div class="container">
                    <div class="text-row">
                        <div class="text-column">
                            <div class="text-column_title">
                                
                                <h2></h2>
                                <img style="width:100%" src="{% static 'images/p14.jpeg'%}" alt=""><br>
                                <img style="width:100%; padding-top:2%" src="{% static 'images/p15.jpeg'%}" alt=""><br>
                            </div>
                        </div>
                        <div class="text-column">
                            <p><b>Padma Shri Dr. A. Sakthivel received the "LIFETIME ACHIEVEMENT AWARD" from BSL, which was an honor. <br>
                                Ms. Rachna Shah, IAS Textile Secretary, Ministry of Textiles, Government of India, presented the award. </b></p>
                                <p>At the the BSL Glocal Textile Convention, Padma Shri Dr. A. Sakthivel received a lifetime achievement award in recognition of his significant contributions to advancing the Indian textile and manufacturing sector in the interest of the country, as well as for his outstanding accomplishments and for being the driving force behind so many forward-thinking initiatives. His involvement in AEPC, TEA & FIEO, he played a vital role to help the growth of export sector in India, especially in SME and his service has been recognized in India and also Internationally.</p>
                                <p>Dr. A. Sakthivel was elected as Chairman of Apparel Export Promotion Council (AEPC) for three tenures and was also elected eleventh time as Executive Committee member of the AEPC continuously for last 30 years. Dr. A. Sakthivel was also President of Federation of Indian Export Organizations (FIEO) and three times as Chairman of Federation of Indian Export Organizations Southern Region. Dr. A. Sakthivel was also President of the Indian Chamber of Commerce and Industry (ICCI), Coimbatore, first time an outsider from Coimbatore was elected as President of ICCI.</p>
                                <p>The Central Government recognized his unparalleled service to export sector and conferred “Padma Shri” award in the year 2009 and Bharathiyar University, Coimbatore conferred Degree of Doctor of Literature (Honoris Causa) on 24th November 2011 for his pivotal role in motivating many enterprising and capable youngsters to make a career in export, his dedicated involvement in visionary projects and initiatives and his immeasurable contribution to the growth of industry and to the development of the society. </p>
                            
                        </div>
                    </div>
                    
                   										
                </div>
                <div class="dec_cirlce" style="left: -120px; bottom: -120px"><span></span></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
	
            
            
            <section style="padding:0 0 60px 0" id="sec1" class="scroll_sec">
                <div class="container">
                    
                    <div class="about_row">
                        <div class="block_text">
                            <h2>DAY 1 Highlights - Engaging Session <br>
                                "A PARADIGM SHIFT IN DIGITALIZATION & AUTOMATION”</h2>
                            <b><p>The specialists on dias were - Ms.Smita Verma Kansal (Geniemode), Ms. R.Shanthi (Zoomet & TPCS ), Mr. Anant Narula (Coats Digital ) & Mr. Nikhil Shah (Goldratt )</p>
                            <p>Today, the world's technological advancement cannot be slowed and  digitization, automation, and artificial intelligence are reshaping entire organizations’ growth. Technological advancement has been transforming the fashion industry as well as the way our society works, produces, and consumes. Beyond manufacturing, Industry 4.0 focuses on cyber-physical systems, the Internet of Things, and cloud computing, and it extends to the entire supply chain.</p></b>

                        </div>
                        <div class="block_img">
                            <img src="{% static 'images/p17.jpeg'%}" class="respimg" alt=""><br>
                            <img style="width:100%;padding-top:2%;" src="{% static 'images/p18.jpeg'%}" alt="">
                            <!-- <div class="about-img-hotifer dark-bg">
                                <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                                <h4>Mark Antony</h4>
                                <h5>Cyberbook CEO</h5>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="ticker-wrap fl-wrap">
                        <div class="content-marquee-outer">
                            <div class="content-marquee-inner">
                                <div class="ticker" data-text="Brands and Sourcing Leaders Association">Brands and Sourcing Leaders Association</div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="section-number"> <span>0</span>1. </div>
                <div class="sec-dec" style="left: -270px; bottom: -5%"></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            <section id="sec2" class="dec_sec">
                <div class="container">
                    <div class="text-row">
                        <div class="text-column">
                            <div class="text-column_title">
                                
                                <h2>DAY 1 Highlights - Engaging Session
                                    "REALIZING A TRILLION $ GOAL"</h2>
                                <img style="width:100%" src="{% static 'images/p19.jpeg'%}" alt=""><br>
                            </div>
                        </div>
                        <div class="text-column">
                            <p><b>Realizing a trillion $ target for India through cost engineering, capacity building, and smart factories was the event's main topic of attention.</b></p>
                                <p>The session was well moderated by Ms. Annika Passii , Ex. Director PDS Limited .</p>
                                <p>Mr. Sandeep Poundrik , Principal Secretary Department of Industries, Government of Bihar, shared a remarkable presentation of Bihar as the best option for setting up textile units. His presentation was encouraging highlighting the proficiency of state in the apparel industry. We all look forward to witness the growth & progress Bihar is making in the manufacturing sector.</p>
                                <p>The industry leaders- Mr. Swaminathan Ramchandran (ABRFL) , Dr. Sundaraman (SIMA), Mr.Raman Dutta (ALLIDERS CORP) & Mr. Jayakumar (TRIBURG) provided insights and stressed maintaining the export momentum ,expressing  confidence in the ability of Indian exports to withstand global challenges meeting the common objective. </p>
                            
                        </div>
                    </div>
                    
                   										
                </div>
                <div class="dec_cirlce" style="left: -120px; bottom: -120px"><span></span></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
	
            
            
            <section style="padding:0 0 60px 0" id="sec1" class="scroll_sec">
                <div class="container">
                    
                    <div class="about_row">
                        <div class="block_text">
                            <h2>DAY 2 - DYNAMIC FORUM <br>
                                "MMF 10X (MAN MADE FIBRES & TECHNICAL TEXTILES)"</h2>
                            <b><p>As global fashion trends change, there is a growing demand for textiles composed of man-made fibers (MMF) as an alternative to cotton. With a 72:28 ratio, or 72% MMF and 28% natural fiber, MMF currently dominates the use of textile fiber globally. Due to the inherent growth restrictions of cotton and other natural fibers, the share of MMF has been gradually rising.</p>
                            <p>Given that future demand is likely to favor manufactured fiber-based textiles, as concluded, special attention is required to increase consumption and production.</p>
                        <p style="color:#000"><b>The session was moderated by Mr. Sanjay Shukla (Triburg)
                            & Mr. Kishan Daga (Concepts N Strategies)</b></p>
                        <p style="color:#000"><b>The professional panelists were - <br>
                            Mr. David Landart (Inmouv) <br>
                            Mr.Chetan Agarwal (Positex) <br>
                            Mr. Rahul Singh (Inviya)</b></p></b>

                        </div>
                        <div class="block_img">
                            <img src="{% static 'images/p20.jpeg'%}" class="respimg" alt=""><br>
                            <img style="width:100%;padding-top:2%;" src="{% static 'images/p21.jpeg'%}" alt="">
                            <!-- <div class="about-img-hotifer dark-bg">
                                <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                                <h4>Mark Antony</h4>
                                <h5>Cyberbook CEO</h5>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="ticker-wrap fl-wrap">
                        <div class="content-marquee-outer">
                            <div class="content-marquee-inner">
                                <div class="ticker" data-text="Brands and Sourcing Leaders Association">Brands and Sourcing Leaders Association</div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="section-number"> <span>0</span>1. </div>
                <div class="sec-dec" style="left: -270px; bottom: -5%"></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>

            <section id="sec2" class="dec_sec">
                <div class="container">
                    <div class="text-row">
                        <div class="text-column">
                            <div class="text-column_title">
                                
                                <h2>DAY 2 - PIVOTAL CONVOCATION <br>
                                    IMPORT SUBSTITUTION & UPSCALING: TRIMS & ACCESSORIES </h2>
                                <img style="width:100%" src="{% static 'images/p22.jpeg'%}" alt=""><br>
                            </div>
                        </div>
                        <div class="text-column">
                            <p>The session was effectively moderated by Ms. Smita Verma Kanasal (Sr. VP & Founding member Geniemode) & Ms. Sapna Adavi (Director-Adavis)</p>
                            <p><b>The reputable contributors on panel were -
                                Mr. Milan Sheth (Screenart & Graphics), Mr. Manab Hembram (Zivame), Mr. Rohit Baid (Konika Group) & Mr. Mudit Tandon (TEX Zipper )</b></p>
                            
                        </div>
                    </div>
                    
                   										
                </div>
                <div class="dec_cirlce" style="left: -120px; bottom: -120px"><span></span></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            
            
            								
        </div>
    </div>
    <!-- column-contaent end -->
    {% endblock %}