{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Glocal Manoeuvre Series - Powerplay 2
{% endblock %}

{% block content %}

    <!-- fixed-column-image -->
    <div class="fixed-column-image-wrap">
        <div class="fixed-column-image fs-wrapper">
            <div class="bg hor_scroll"  data-bg="{% static 'images/journey.jpeg'%}"></div>
            <div class="overlay"></div>
            <div class="overlay-dec"></div>
        </div>
        <footer class="column-footer">
            <div class="column-footer_arrow-dec_wrap color-bg">
                <div class="arrow_dec_wrap">
                    <div class="arrow_dec"></div>
                </div>
            </div>
            <div class="column-footer_head">Scroll  Down</div>
            <div class="column-footer_content fl-wrap">
                <div class="column-footer_title"><span>Glocal Manoeuvre Series</span></div>
            </div>
            <div class="dir-arrow"></div>
        </footer>
        <div class="fci_progress-bar-wrap dark-bg">
            <div class="ver_progress-bar_wrap">
                <div class="ver_progress-bar color-bg"></div>
            </div>
            <div class="pbw_animicon">
                <i class="fas fa-caret-down"></i>
            </div>
        </div>
        <div class="hero-arrows_dec"></div>
    </div>
    <!-- fixed-column-image end -->
    <!-- scroll-nav-container -->
    <div class="scroll-nav-container">
        <div class="page-scroll-nav">
            <div class="scroll-down-container">
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
            </div>
            <div class="hidden_wrap_btn"><span></span></div>
            <nav class="scroll-init page-scroll-nav_wrap">
                <ul>
                    <li><a class="scroll-link fbgs act-sec" href="#sec1"  data-bgtext="BSL Mission"  data-bgnum="01"><span>Glocal Manoeuvre Series - Powerplay 1</span></a></li>
                    

                </ul>
            </nav>
            <div class="section-counter color-bg">
                <div class="section-counter_cuurent"><span>01</span></div>
                <div class="section-counter_total"></div>
            </div>
        </div>
    </div>
    <!-- scroll-nav-container end -->
    <!-- column-wrap -->
    <div class="column-wrap hcw_sin">
        <div class="content fl-wrap full-height">
            <!-- section -->
            <section id="sec1" class="scroll_sec top top-mobile">
                <div class="container">
                    <div class="section-title">
                        <h2>GLOCAL MANOEUVRE SERIES - POWERPLAY 2</h2>
                        <h2>26-27th MAY`2023</h2>
                        <h2>APPAREL HOUSE - GURUGRAM </h2>
                        <p >BSL- Brands and Sourcing Leaders Association, is a non-profit organization that represents Sourcing Leaders from the Domestic and Exports.</p>
                    </div>
                    <div class="about_row">
                        <div class="block_text">
                            <h2>Category : GOOD EARTH
                                SUSTAINABILITY - TRACEABILITY - ESG GOALS</h2>
                            <b><p>Ms. Tanuja Sinha Roy -  
                                Founder Swtantra Brands and President BSL north</p>
                                <p><b>"Sustainability Committed Specialist"</b></p>
                                <p>Consumers are now becoming more environmentally conscious, major players in the industry are shifting away from the wasteful practices of the past and embracing sustainable technology to help bring about major improvements. </p>
                                <p>There is an intense necessity for transparency.</p>
                           </b>
                            <!-- <a href="portfolio.html" class="btn   fl-btn color-bg"><span>Our portfolio</span></a>							 -->
                        </div>
                        <div class="block_img">
                            <img src="{% static 'images/p23.jpeg'%}" class="respimg" alt=""><br>
                            <!-- <div class="about-img-hotifer dark-bg">
                                <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                                <h4>Mark Antony</h4>
                                <h5>Cyberbook CEO</h5>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="ticker-wrap fl-wrap">
                        <div class="content-marquee-outer">
                            <div class="content-marquee-inner">
                                <div class="ticker" data-text="Brands and Sourcing Leaders Association">Brands and Sourcing Leaders Association</div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="section-number"> <span>0</span>1. </div>
                <div class="sec-dec" style="left: -270px; bottom: -5%"></div>
                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                <div class="sec-lines"></div>
            </section>
            <!-- section end -->
            
            
            
            								
        </div>
    </div>
    <!-- column-contaent end -->
    {% endblock %}